.about {
    font-size: 1.4rem;
    align-self: flex-end;
    text-align: right;
}

@include breakpoint-up(medium) {
    .about {
        font-size: $sm;
        padding: 20px;
        justify-self: flex-end;
        align-self: flex-end;
    }
}