.contact {
    min-height: 100vh;
    height: auto;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .link-title-2 {
        display: none;
    }

    .email-title {
        cursor: pointer;
    }

    h2 {
        font-family: Roboto;
        font-size: 50px;
        padding: 3rem 0;
        animation: contact 2s ease;
    }

    a {
        padding: 0px;
        margin: 0px;
    }

    .email {
        display: flex;
        align-items: center;
        font-size: $x-sm;
       p {
        width: 25%;
       }
    }

    .github {
        display: flex;
        align-items: center;
        font-size: $x-sm;
        p {
            width: 25%;
           }
    }
}

.line {
    height: 1px;
    background-color: black;
    padding: 0px;
}

button {
    border: none;
    background-color: $beige;
    font-family: Rosario;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

@include breakpoint-up(medium) {
    .contact {

        h2 {
            animation: contact-large 2s ease;
        }

        padding: 3rem 5rem;

        .email, button {
            font-size: $sm;
        }
        .github {
            font-size: $sm;
        }

        .contact-mask {
            max-width: 50vw;
        }
    }

}

@include breakpoint-up(large) {
    .contact {
        padding: 3rem 4.25rem;
    .email, button {
        font-size: $x-sm;
    }
    .github {
        font-size: $x-sm;
    }

    .contact-mask {
        max-width: 30vw;
    }
    }

    .link{
        // margin-top: 2.4rem;
        height: 1.875rem;
        display: flex;
        align-items: center;
        line-height: 1.1;
    }
    
    .mask {
        position: relative;
        padding: 0;
        height: 1.6rem;
        overflow: hidden;
    }
    
    .github-title {
        display: block;
        transition: transform 0.4s ease;
    }

    .email-title {
        display: block;
        transition: transform 0.4s ease;
    }
    
    .link-title-1 {
        transform-origin: right center;
    }
    
    .contact {

    .link-title-2 {
        display: block;
        transform-origin: left center;
        transform: rotate(15deg);
    }
}
    
    .github-link-container {
        transition: transform 0.4s ease;
    }

    .email-link-container {
        transition: transform 0.4s ease;
    }
    
    .mask:hover .github-link-container{
        transform: translateY(-22px);
    }

    .mask:hover .email-link-container{
        transform: translateY(-22px);
    }
    
    .mask:hover .link-title-1 {
        transform: rotate(20deg);
    }
    
    .mask:hover .link-title-2 {
        transform: rotate(0);
    }
}

.contact-mask {
    overflow: hidden;
    max-width: 75vw;
}

@keyframes contact{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0);
    }
  }

  @keyframes contact-large{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
  }