.header {
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
}

@include breakpoint-up(medium) {
    
   .nav { 
    padding: 1.25rem 3rem;
    justify-content: flex-end
   }

   a {
    padding: 0 1.25rem;
}
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 2rem;

    a {
        padding: .675rem;
    }
}