.header {
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    margin: 0px;
    padding: 0px 6vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

@include breakpoint-up(medium) {
    
    .logo {
    margin-left: 40px;
    }

   .nav { 
    padding: 1.25rem 3rem;
    justify-content: flex-end
   }

   a {
    padding: 0 1.25rem;
}
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.25rem 0rem;

    a {
        padding: .675rem;
    }
}