.hero {
  min-height: 100vh;
  height: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px black;
  min-height: 90vh;
  height: auto;
  margin: 5vh;
  padding: 60px 20px 10px 20px;
}

.title-container {
  font-family: Roboto;
  h1 {
    padding: 0px;
    margin: 0px;
  }
}

@include breakpoint-up(medium) {

.hero-container {
  display: flex;
  flex-direction: row;
  padding: 90px 20px;
}

h1 {
  font-size: $lg;
  font-weight: normal;
  margin: 0;
  padding: 20px;
}

.sm-title {
  font-size: $md;
  padding: 0px 20px;
}
}
