.hero {
  min-height: 100vh;
  height: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px black;
  min-height: 90vh;
  height: auto;
  margin: 5vh;
  padding: 60px 25px 10px 25px;
}

.title-container {
  font-family: Roboto;
  animation: text 2s ease;
  h1 {
    line-height: 1.1;
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
  }
}

@include breakpoint-up(medium) {

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 50px 50px 50px;
}

.title-container {
  animation: text-large 2s ease;
h1 {
  font-size: $lg;
  font-weight: normal;
  padding: 70px 20px 0px 0px;
}
}

.sm-title {
  font-size: $md;
  padding: 0;
}

.title-mask {
  max-width: 50vw;
}
}

@include breakpoint-up(large) {

  .sm-title {
    padding: 10px 5px;
  }

  .title-container {
    h1 {
      font-size: 4rem;
    }
  }
}

 .title-mask {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 60vw;
 }

@keyframes text{
  0%{
      transform: translateX(200px);
  }
  100%{
      transform: translateX(0);
  }
}

@keyframes text-large{
  0%{
      transform: translateX(500px);
  }
  100%{
      transform: translateX(0);
  }
}