.hero {
  min-height: 100vh;
  height: auto;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin: 5vh;
  padding: 20px;
  border: solid 1px black;
  min-height: 90vh;
  height: auto;
}

h1 {
  font-size: $lg;
  font-weight: normal;
  margin: 0;
  padding: 20px;
}

.sm-title {
  font-size: $md;
  padding: 20px;
}


