.work {
    min-height: 100vh;
    height: auto;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
        li {
            list-style-type: none;
            margin: 6vh 8vh;    
        }
        
        p {
            padding-right: 35px;
            color: #393e46;
        }
    }

    img {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    opacity: 0.35;
}

img:hover {
        filter: none;
        opacity: 1;
        transition: opacity 1s ease;
}

}


.work-title {
    font-family: Roboto;
    font-weight: 1600;
    font-size: 1.2rem;
}

@include breakpoint-up(medium) {
    
    .work-card  {
        display: flex;
        width: 90vw;
        h2 {
            padding: 0px;
            margin: 0px;
        }
    }
    .work-card-text {
        max-width: 15vh;
        padding: 0px .5rem;
        align-self: flex-start;
    }

    .work {

        p {
            padding: 0px;
        }

       ul { li {
            margin: 5vh;
        }
    }

        a {
            justify-self: flex-start;
            width: 500px;
            height: 250px;
            padding-right: 80px;
        }

    img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
 }
}