@import './_mixins';
@import './_variables';
@import './components/_hero';
@import './components/_header';
@import './components/_about';
@import './components/_work';
@import './components/_contact';

@font-face {
  font-family: "Roboto";
  src: url("../public/assets/Roboto-Thin.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Rosario";
  src: url("../public/assets/Rosario-Light.ttf");
  font-display: swap;
}


html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Rosario, Helvetica Neue, sans-serif;
  line-height: 1.3;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #E6DED1;
  //background-color: #cabdbd;
}

a {
  color: inherit;
  text-decoration: none;
}

